.card {
  padding-left: 20%;
  padding-right:20%;
  padding-top: 10%;
  font-size: 3ch;
  line-height: 2.6em;
}

.tidQuotes {
  padding-left: 10%;
  padding-right: 10%;
}

.bigQuote {
  font-size: 6ch;
  font-weight: bold;
}

.bigQuote2 {
  font-size: 6ch;
  font-weight: bold;
  position: relative;
  left: 95%;
}

.tab { margin-left: 40px; }

p {
   text-indent: 30px;
   margin: 0;
   padding: 0;
}

img {
    display:block;
    margin:auto;
    margin-bottom: 20px;
}
